body
{
	padding-top: 60px;
}

.title
{
	font-weight: bold;
}

.subtitle
{
	font-style: italic;
}

.form-inline
{
	display: inline;
}

#current
{
	font-weight: bold;
}

#current > .title
{
	font-size: 4em;
	line-height: 1em;
}

#current > .subtitle
{
	font-size: 2.5em;
	line-height: 1em;
}

#main-queue
{
	font-size: 1.2em;
	color: #666;
	margin-bottom: 1em;
}

#main-queue > h2
{
	color: #888;
	margin-top: -10px;
	margin-bottom: 10px;
	font-variant: small-caps;
}

#main-queue > ul
{
	margin-left: 1em;
	color: #222;
}

#main-queue .title
{
	font-size: 1.4em;
}

#personal-queue
{
	border-left: 1px solid #ccc;
	margin-left: -1px;
	padding-bottom: 5px;
}

#personal-queue > p
{
	color: #666;
	padding-left: 1em;
}

#sortable > li:hover
{
	background-color: rgba(80%, 80%, 80%, 0.4);
	border-radius: 0.5em;
	cursor: move;
}

.context-container .context
{
	opacity: 0;
}

.context-container:hover .context
{
	opacity: 1.0;
}

#add
{
	padding-bottom: 2em;
}

#add > form
{
	margin-left: 4em;
}

#add > h2
{
	font-size: 1em;
	display: inline;
	padding-right: 1em;
}

#uploads
{
	clear: both;
}

.upload
{
	color: #888;
}

.upload .name
{
	color: #444;
	font-weight: bold;
	font-size: 1.4em;
}
