body
{
	font-family: Helvetica,Arial,sans-serif;
	background-color: #fff;
	color: #000;
}

h1
{
	font-size: 0.8em;
	color: #ccc;
	font-weight: normal;
}

#current
{
	margin: 15px;
	font-size: 2.0em;
}

.title
{
	font-size: 1.5em;
	font-weight: bold;
}

.subtitle
{
	font-style: italic;
}

.time, .suggested
{
	font-size: 0.7em;
	padding-top: 0.3em;
}

#playlist, #queue
{
	width: 35%;
	margin-top: 2em;
	border-left: 2px solid #aaa;
}

#add, #playlist, #queue
{
	color: #666;
	font-size: 0.8em;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 1.5em;
}

#playlist
{
	float: left;
}

#queue
{
	float: right;
}

#playlist > h2, #queue > h2
{
	font-size: 1.0em;
}

#playlist > ul, #queue > ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#add
{
	clear: both;
	margin-top: 10em;
}

#add > h2
{
	font-size: 1.2em;
	margin-top: 0.8em;
	margin-bottom: 0;
}

.context-container .context
{
	display: none;
}

.context-container:hover .context
{
	display: inline;
}

.context > :link
{
	color: #bbb;
	text-decoration: none;
}

#uploads
{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2em;
}

.upload > .progress
{
	border: 1px solid #bbb;
	border-radius: 6px;
	padding: 2px;
}

.upload > .progress > .bar
{
	height: 1em;
	border-radius: 4px;
	background: #888;
}

.upload > .name
{
	font-weight: bold;
	margin-left: 2px;
	color: #666;
}

.upload > .status
{
	text-align: right;
	font-size: 0.8em;
	color: #888;
}