<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cannen/css/player.css"/>
<script type="text/javascript" src="{{ STATIC_URL }}cannen/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cannen/js/player.js"></script>
</head>

<body>

<h1>Cannen Collaborative Music Player</h1>

<div id="info">
</div>

<div id="add">
<form action="{% url cannen.views.add_url %}" method="post" class="asyncform">
{% csrf_token %}
<input type="text" name="url" placeholder="URL..."/>
<input type="submit" value="Add"/>
</form>

<form action="{% url cannen.views.add_file %}" method="post" enctype="multipart/form-data">
<!-- fixme ajaxify -->
{% csrf_token %}
<input type="file" name="file" placeholder="Local File..."/>
<input type="submit" value="Add"/>
</form>
</div>

</body>
</html>
