{% load url from future %}
<!DOCTYPE html>
<html>
  <head>
	<meta charset="UTF-8"/>
	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cannen/css/player.css"/>
    
    <script type="text/javascript" src="{{ STATIC_URL }}cannen/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cannen/js/jquery-ui-1.8.22.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cannen/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}cannen/js/jquery.fileupload.js"></script>
	
	<script type="text/javascript" src="{{ STATIC_URL }}cannen/js/player.js"></script>
    <script type="text/javascript">
	  function add_upload()
	  {
		  var main = $('<div class="upload"></div>');
		  var name = $('<div class="name"></div>').appendTo(main);
		  $('<div class="progress"><div class="bar" style="width: 0%;"></div></div>').appendTo(main);
		  var progress = main.children('.progress').children('.bar');
		  var status = $('<div class="status"></div>').appendTo(main);
		  main.appendTo($('#uploads'));
		  return {main: main, name: name, progress: progress, status: status};
      }
	  
	  function move_song_url(id, dest)
	  {
		  return "{% url 'cannen.views.move' '112233' '445566' %}".replace("112233", id).replace("445566", dest);
	  }
    </script>
  </head>

  <body>

	<h1>
	  Cannen Collaborative Music Player
	  
	  > <font color=black>Listen Now! 
	  [<a href="http://radio.overviewer.org/writhem.mp3">mp3</a>]
	  [<a href="http://radio.overviewer.org/writhem.mp3.m3u">m3u</a>]
	  [<a href="http://radio.overviewer.org/writhem.mp3.xspf">xspf</a>]
	  </font>
	</h1>

	<div id="info">
	</div>

	<div id="add">
	  <h2>Upload File</h2>
	  <form id="fileupload" action="{% url 'cannen.views.add_file' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<input type="file" name="file" placeholder="Local File..."/>
		<input id="fileuploadsubmit" type="submit" value="Add"/>
	  </form>

	  <h2>Add URL</h2>
	  <form action="{% url 'cannen.views.add_url' %}" method="post" class="asyncform">
		{% csrf_token %}
		<input type="text" name="url" placeholder="URL..."/>
		<input type="submit" value="Add"/>
	  </form>
	</div>
	
	<div id="uploads">
	  <!-- upload bars will end up here -->
	  <!-- <div class="upload">
		<div class="name">filename.mp3</div>
		<div class="progress"><div class="bar" style="width: 75%;"></div></div>
		<div class="status">75%</div>
	  </div> -->
	</div>
	
	<div id="library">
	  <!-- library will show up here -->
	</div>

  </body>
</html>
