{% load url from future %}
<div id="current">
  {% if current %}
  <div class="title">
	{{ current.title }}
  </div>
  {% if current.artist %}
  <div class="subtitle">
	by {{ current.artist }}
  </div>
  {% endif %}
  <div class="suggested">
	submitted by <strong>{{ current.model.submitter.username }}</strong>
  </div>
  {% if current.time %}
  <div class="time">
	time: {{ current.elapsed }} / {{ current.time }}
  </div>
  {% endif %}
  {% else %}
  <div class="title">
	nothing is playing
  </div>
  <div class="subtitle">
	what a shame
  </div>
  <div class="suggested">
	(use the controls below to suggest your own music)
  </div>
  {% endif %}
</div>

<div id="playlist">
  <h2>Coming Up:</h2>
  {% if playlist %}
  <ul>
	{% for song in playlist %}
	<li><span class="title">{{ song.title }}</span>{% if song.artist %} <span class="subtitle">by {{ song.artist }}</span>{% endif %} <span class="suggested">({{song.model.submitter.username}})</span></li>
	{% endfor %}
  </ul>
  {% else %}
  there's no more music! use the controls below to remedy this situation!
  {% endif %}
</div>

<div id="queue">
  <h2>Your Queue:</h2>
  {% if queue %}
  <ul id="sortable">
    {% for song in queue %}
    <li class="context-container" id="queue-{{ song.model.id }}">
      <span class="title">{{ song.title }}</span>
      {% if song.artist %}
      <span class="subtitle">by {{ song.artist }}</span>
      {% endif %}
      <span class="context">
        <a href="{% url 'cannen.views.delete' song.model.id %}" class="asynclink">X</a>
        <a href="{% url 'cannen.views.move' song.model.id -1 %}" class="asynclink">^</a>
        <a href="{% url 'cannen.views.move' song.model.id +1 %}" class="asynclink">v</a>
      </span>
    </li>
    {% endfor %}      
  </ul>
  {% else %}
  add songs here for them to be automatically added when it's your turn
  {% endif %}
</div>

<div id="library">
<h2>Your Library: | <a href={% url 'cannen.views.library' %}>View All</a></h2>
  {% if library %}
  <ul>
    {% for song in library %}
    <li class="context-container" id="library-{{ song.model.id }}">
      <span class="title">{{ song.title }}</span>
      {% if song.artist %}
      <span class="subtitle">by {{ song.artist }}</span>
      {% endif %}
      <span class="context">
        <a href="{% url 'cannen.views.play' song.model.file.url %}" class="asynclink">&#9654;</a>
      </span>
    </li>
    {% endfor %}  
  {% else %}
  there is nothing in the user Library, but uploading items will add them to your local user Library, so get to it!
  {% endif %}
	</ul>
</div>